.frog-text {
  color: #7ed6df;
}
.frog-text:hover, .frog-text:active {
  color: #7ed6df;
}
.frog-bg {
  background: #7ed6df;
}
.frog-btn {
  background: #7ed6df;
  transition: ease-in-out 0.2s;
}
.frog-btn:hover, .frog-btn:active {
  background: #7ed6df;
  opacity: 0.8;
}

.frog-1-text {
  color: #22a6b3;
}
.frog-1-text:hover, .frog-1-text:active {
  color: #22a6b3;
}
.frog-1-bg {
  background: #22a6b3;
}
.frog-1-btn {
  background: #22a6b3;
  transition: ease-in-out 0.2s;
}
.frog-1-btn:hover, .frog-1-btn:active {
  background: #22a6b3;
  opacity: 0.8;
}

.elephant-text {
  color: #686de0;
}
.elephant-text:hover, .elephant-text:active {
  color: #686de0;
}
.elephant-bg {
  background: #686de0;
}
.elephant-btn {
  background: #686de0;
  transition: ease-in-out 0.2s;
}
.elephant-btn:hover, .elephant-btn:active {
  background: #686de0;
  opacity: 0.8;
}

.elephant-1-text {
  color: #4834d4;
}
.elephant-1-text:hover, .elephant-1-text:active {
  color: #4834d4;
}
.elephant-1-bg {
  background: #4834d4;
}
.elephant-1-btn {
  background: #4834d4;
  transition: ease-in-out 0.2s;
}
.elephant-1-btn:hover, .elephant-1-btn:active {
  background: #4834d4;
  opacity: 0.8;
}

.eagle-text {
  color: #30336b;
}
.eagle-text:hover, .eagle-text:active {
  color: #30336b;
}
.eagle-bg {
  background: #30336b;
}
.eagle-btn {
  background: #30336b;
  transition: ease-in-out 0.2s;
}
.eagle-btn:hover, .eagle-btn:active {
  background: #30336b;
  opacity: 0.8;
}

.eagle-1-text {
  color: #130f40;
}
.eagle-1-text:hover, .eagle-1-text:active {
  color: #130f40;
}
.eagle-1-bg {
  background: #130f40;
}
.eagle-1-btn {
  background: #130f40;
  transition: ease-in-out 0.2s;
}
.eagle-1-btn:hover, .eagle-1-btn:active {
  background: #130f40;
  opacity: 0.8;
}

.shark-text {
  color: #95afc0;
}
.shark-text:hover, .shark-text:active {
  color: #95afc0;
}
.shark-bg {
  background: #95afc0;
}
.shark-btn {
  background: #95afc0;
  transition: ease-in-out 0.2s;
}
.shark-btn:hover, .shark-btn:active {
  background: #95afc0;
  opacity: 0.8;
}

.shark-1-text {
  color: #535c68;
}
.shark-1-text:hover, .shark-1-text:active {
  color: #535c68;
}
.shark-1-bg {
  background: #535c68;
}
.shark-1-btn {
  background: #535c68;
  transition: ease-in-out 0.2s;
}
.shark-1-btn:hover, .shark-1-btn:active {
  background: #535c68;
  opacity: 0.8;
}

.snake-text {
  color: #dff9fb;
}
.snake-text:hover, .snake-text:active {
  color: #dff9fb;
}
.snake-bg {
  background: #dff9fb;
}
.snake-btn {
  background: #dff9fb;
  transition: ease-in-out 0.2s;
}
.snake-btn:hover, .snake-btn:active {
  background: #dff9fb;
  opacity: 0.8;
}

.snake-1-text {
  color: #c7ecee;
}
.snake-1-text:hover, .snake-1-text:active {
  color: #c7ecee;
}
.snake-1-bg {
  background: #c7ecee;
}
.snake-1-btn {
  background: #c7ecee;
  transition: ease-in-out 0.2s;
}
.snake-1-btn:hover, .snake-1-btn:active {
  background: #c7ecee;
  opacity: 0.8;
}

a.text-link {
  transition: ease-in-out 0.2s;
}
a.text-link:hover {
  opacity: 0.7;
}

form.form-only-line .input-group:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #7ed6df;
  border-radius: 3px;
  opacity: 0.7;
}
form.form-only-line .input-group.active:after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid #7ed6df;
  border-radius: 3px;
  opacity: 1;
}
form.form-only-line .input-group-text {
  border: none;
  box-shadow: none;
  background: transparent;
}
form.form-only-line input, form.form-only-line input:-webkit-autofill {
  padding-left: 0;
  transition: all 0.3s;
  font-size: 17px;
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #30336b inset;
  color: #95afc0;
  -webkit-text-fill-color: #95afc0;
}
form.form-only-line input:focus, form.form-only-line input:hover, form.form-only-line input:-webkit-autofill:focus, form.form-only-line input:-webkit-autofill:hover, form.form-only-line input:-webkit-autofill:focus, form.form-only-line input:-webkit-autofill:hover, form.form-only-line input:-webkit-autofill:-webkit-autofill:focus, form.form-only-line input:-webkit-autofill:-webkit-autofill:hover {
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px #30336b inset;
  color: #dff9fb;
  -webkit-text-fill-color: #dff9fb;
}
form.form-only-line input:placeholder, form.form-only-line input:-webkit-autofill:placeholder {
  font-size: 16px;
  color: #535c68;
  -webkit-text-fill-color: #535c68;
}

.frog-btn.outline-btn {
  background: transparent;
  border: 1px solid #7ed6df;
}
.frog-btn.outline-btn:hover, .frog-btn.outline-btn:active {
  background: #7ed6df;
  color: #30336b;
  opacity: 1;
}

/*# sourceMappingURL=auth-layout.css.map */
