@use '../partials/classes' as c;
@use '../partials/variables' as v;
@use '../partials/mixin' as m;
@use "sass:map";

@mixin bbb-none($color: "shark") {
  border: none;
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0px 1000px map.get(v.$colors, 'eagle') inset;
  color: map.get(v.$colors, $color);
  -webkit-text-fill-color: map.get(v.$colors, $color);
}

a.text-link {
  transition: ease-in-out .2s;
  
  &:hover {
    opacity: .7;
  }
}

form.form-only-line {
  .input-group {
    &:after {
      @include m.line-after-input(.7);
    }
    
    &.active:after {
      @include m.line-after-input(1);
    }
  }
  
  .input-group-text {
    border: none;
    box-shadow: none;
    background: transparent;
  }
  
  input, input:-webkit-autofill {
    padding-left: 0;
    transition: all .3s;
    font-size: 17px;
    @include bbb-none("shark");
    
    &:focus, &:hover, &:-webkit-autofill:focus, &:-webkit-autofill:hover {
      @include bbb-none("snake");
    }
    
    &:placeholder {
      font-size: 16px;
      color: map.get(v.$colors, "shark-1");
      -webkit-text-fill-color: map.get(v.$colors, "shark-1");
    }
  }
}

.frog-btn.outline-btn {
  background: transparent;
  border: 1px solid map.get(v.$colors, "frog");

  &:hover, &:active {
    background: map.get(v.$colors, "frog");
    color: map.get(v.$colors, "eagle");
    opacity: 1;
  }
}
                                                                                                                                                                                                                                                                                                            