@use 'variables' as v;
@use "sass:map";

@mixin choose-colors($color) {
  &-text {
    color: $color;

    &:hover, &:active {
      color: $color;
    }
  }
  &-bg {
    background: $color;
  }
  &-btn {
    background: $color;
    transition: ease-in-out .2s;
    
    &:hover, &:active {
      background: $color;
      opacity: .8;
    }
  }
}

@mixin line-after-input($opacity) {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 2px solid map.get(v.$colors, "frog");
  border-radius: 3px;
  opacity: $opacity;
}
                                                                                                                                                                                                                                                                                                            