@mixin choose-colors($color) {
  &-text {
    color: $color;

    &:hover, &:active {
      color: $color;
    }
  }
  &-bg {
    background: $color;
  }
}
                                                                                                                                                                                                                                                                                                            